@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
* {
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif !important;
    color: white;
}

#topo {
    background-color: #2D2B2D;
    height: 90px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    transition: height .5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#topo .logo {
    float: left;
    height: 60px;
    margin: 0px;
    z-index: 999;
    padding-left: 30px;

    transition: height .5s;

}

.bt-menu {
    color: #fff;
    float: right;
    /* margin-top: 10px; */
    padding: 0 20px;
    cursor: pointer;
}

.link-menu {
    color: #fff !important;
}

.link-menu:visited {
    color: #fff !important;
}

#topo nav {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 56px;
}

#topo .menu li {
    color: #fff;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
    text-align: right;
}

#topo .menu li span {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#topo .menu li a:hover, #topo .menu li.ativo {
    color: #5DB3FF;
}

#topo .menu li a:hover .link-menu, #topo .menu li.ativo .link-menu {
    color: #5DB3FF !important;
}

#topo .social-mobile {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#topo .social-mobile .social-midia {
    display: flex;
    flex-direction: row;
}

#topo .social-mobile .md-social {
    width: 35px;
    padding: 13px 8px;
    margin: 0 5px;
    border: 2px solid #5DB3FF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

#topo .social-mobile div.google-partner {
    height: auto;
    margin: 10px 5px 0 5px;
    width: auto;
}

#topo .social-mobile div img {
    display: block;
    width: 35px;
}

@media (min-width: 1280px) {
    #topo .logo {
        height: 60px;
        margin: 0px 0 0 30px;
        z-index: 999;
    }
    .fa.bt-menu {
        display: none;
    }
    #topo nav {
        display: initial;
        float: right;
        margin: 0 30px 0 0;
        position: static;
        top: initial;
        /* margin-top: 30px; */
    }
    #topo .menu {
        overflow: hidden;
        padding: initial;
    }
    #topo .menu li {
        float: left;
        font: 16px;
        height: 56px;
        line-height: 55px;
        margin: 0 30px 10px 30px;
        padding: initial;
        text-align: center;
    }
    #topo .menu li span {
        display: none;
    }
    #topo .social-mobile {
        display: none;
    }
    .icon-bar-menu {
        display: none;
    }
}

@media (max-width: 1279px) {
    #topo nav {
        background-color: #2D2B2D;
        margin-top: 33px;
    }
    .icon-bar-menu {
        display: block;
    }
}

@media (max-width: 768px) {
    #topo nav {
        /* margin-top: 10px; */
    }
}

@media (min-width: 768px) {
    #topo .social-mobile {
        left: initial;
        right: 10px;
        text-align: initial;
    }
    #topo .social-mobile li {
        height: 46px;
        padding: 18px 0;
    }
    #topo .social-mobile li.google-partner {
        padding: 0;
    }
}

/* .icon-bar-menu {
    padding-top: 10px;
} */

.icon-bar-menu .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    background: white;
    transition: 0.3s;
    cursor: pointer;
}

.icon-bar-menu.icon-bar:nth-child(2) {
    height: 1.8px;
}

.icon-bar-menu .icon-bar+.icon-bar {
    margin-top: 7px;
}


::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-thumb {
    background: white
}