$tablet-width: 768px;
$desktop-width: 1026px;
$desktop-full: 1600px;

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin mobile {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-full {
    @media (min-width: #{$desktop-full}) {
        @content;
    }
}

@mixin flex-box() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    // height:100vh;
    background-color: #1c161a;
    // overflow: hidden;
}

main {
    @include flex-box();
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // padding: 0 150px;

    @include mobile() {
        margin-top: 25%;
    }

    @include tablet() {
        margin-top: 15%;
    }

    @include desktop() {
        margin-top: 10%;
    }

    .header {
        @include flex-box();
        justify-content: space-between;
        align-items: center;

        .titulo {
            font: {
                weight: bold;
                style: oblique;
                size: 1.22em;
            }
        }

        button {
            background-color: transparent;
            border: 1px solid #5db3ff;
            padding: 0 20px;
            margin: 5px;
            cursor: pointer;
            font-size: 15px;
            @include border-radius(10px);

            &:hover {
                background-color: #5db3ff;
                color: black;
            }
        }

        @include mobile() {
            flex-direction: column;
        }

        @include tablet() {
            flex-direction: column;
        }

        @include desktop() {
            max-width: 870px;
        }

        @include desktop-full() {
            max-width: 1200px;
        }
    }

    .cursos {
        @include flex-box();
        flex-wrap: wrap;
        padding: 20px 0;

        div {
            margin: 3px 3px;
            border: 2px solid #1c161a;
            cursor: pointer;
            @include border-radius(5px);
            height: 190px;
            min-width: 280px;

            &:hover{
                border: 2px solid #5DB3FF;
            }

            // @include desktop() {
            
            // }

            // @include desktop-full() {
            //     height: 210px;
            //     min-width: 340px;
            // }

            img{
                float: right;
                margin-top: 50%;
                padding: 10px;
                height: 32px;
            }
        }

        @include mobile() {
            justify-content: center;
        }

        @include desktop() {
            max-width: 870px;
            justify-content: start;
        }

        @include desktop-full() {
            max-width: 1200px;
        }
    }
}


footer{
    padding: 0 50px;
    bottom: 0;

    @include mobile(){
        position: relative;
        text-align: center;
    }

    @include tablet(){
        position: absolute;
        text-align: start;
    }
}
