$tablet-width: 768px;
$desktop-width: 1026px;
$desktop-full: 1600px;

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin mobile {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-full {
    @media (min-width: #{$desktop-full}) {
        @content;
    }
}

@mixin flex-box() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    background-color: #1c161a;
}

main {
    display: flex; 
    justify-content: center;

    .container-principal {
        @include flex-box();
        flex-direction: column;

        @include mobile() {
            margin-top: 25%;
        }

        @include tablet() {
            margin-top: 15%;
        }

        @include desktop() {
            margin-top: 10%;
        }

        .header {
            @include flex-box();
            justify-content: space-between;
            align-items: center;
        
            @include mobile(){
                padding: 0 0;
            }

            @include tablet(){
                padding: 0 30px;
            }

            @include desktop(){
                padding: 0 0px;
            }

            .titulo {
                font: {
                    weight: bold;
                    style: oblique;
                    size: 1.22em;
                }
            }

            button {
                background-color: transparent;
                border: 1px solid #5db3ff;
                padding: 0 20px;
                margin: 5px;
                cursor: pointer;
                font-size: 15px;
                @include border-radius(10px);

                &:hover {
                    background-color: #5db3ff;
                    color: black;
                }
            }

            @include mobile() {
                flex-direction: column;
            }

            @include tablet() {
                flex-direction: row;
            }

            @include desktop() {
                max-width: 870px;
            }

            @include desktop-full() {
                max-width: 1200px;
            }
        }

        .cursos {
            @include flex-box();
            flex-wrap: wrap;
            padding: 20px 0;

            div {
                margin: 3px 3px;
                border: 2px solid #1c161a;
                cursor: pointer;
                @include border-radius(5px);
                height: 190px;
                min-width: 280px;

                @include desktop-full(){
                    height: 230px;
                    min-width: 383px;
                }

                &:hover {
                    border: 2px solid #5db3ff;
                }
    

                img {
                    float: right;
                    padding: 10px;
                    height: 32px;

                    @include desktop() {
                        margin-top: 50%;
                    }

                    @include desktop-full() {
                        margin-top: 47%;
                    }
                }
            }

            @include mobile() {
                justify-content: center;
            }

            @include desktop() {
                max-width: 870px;
                justify-content: start;
            }

            @include desktop-full() {
                max-width: 1200px;
            }
        }
    }
}

footer {
    padding: 0 50px;

    @include tablet() {
        position: relative;
        text-align: start;
    }

    @include mobile() {
        text-align: center;
    }

    @include desktop-full(){
        bottom: 0;
        position: relative;
        text-align: start;
    }
}
